.f3{
    margin: 0% 0% 0% -8.5%;
    position:absolute;
}

.titulo{
    margin: 5% 0% 0% 5%;
    color: white;
    position:absolute;
}

.p1{
    margin: 20% 0% 0% 5%;
    color: white;
    position:absolute;
}

.qc{
    margin: 65.9% 0% 0% -0.5%; 
    position:absolute;
}

.tabela{
    margin: 400px 0px 20px -120px; 
}

.qb{
    margin: 67.3% 0% 0% 2%; 
    position:absolute;
}

.qb2{
    margin: 67.3% 0% 0% 36%; 
    position:absolute;
}

.qb3{
    margin: 67.3% 0% 0% 71%; 
    position:absolute; 
}

.lupa1{
    margin: 67.3% 0% 0% 24.5%; 
    position:absolute; 
}

.lupa2{
    margin: 67.3% 0% 0% 58.5%; 
    position:absolute; 
}

.lupa3{
    margin: 67.3% 0% 0% 93.5%; 
    position:absolute;
}

.Vagas{
    margin: 66.3% 0% 0% 3.5%;  
    color: #999494;
    position:absolute;
}

.Empresa{
    margin: 66.3% 0% 0% 37.5%;  
    color: #999494;
    position:absolute;
}

.Localização{
    margin: 66.3% 0% 0% 72.5%;  
    color: #999494;
    position:absolute;
}

/*Curso 1*/ 

.logoe{
    margin: 74.3% 0% 0% 0%; 
    position:absolute;  
}

.p2{
    margin: 76.3% 0% 0% 10%; 
    position:absolute; 
}

.localização{
    margin: 93.5% 0% 0% 9%; 
    position:absolute; 
}

.p3{
    margin: 94.5% 0% 0% 12%; 
    position:absolute; 
}

/*Curso 2*/ 

.logoe2{
    margin: 98% 0% 0% 0%; 
    position:absolute;  
}

.p4{
    margin: 99.8% 0% 0% 10%; 
    position:absolute; 
}

.localização2{
    margin: 119.5% 0% 0% 9%; 
    position:absolute; 
}

.p5{
    margin: 120.5% 0% 0% 12%; 
    position:absolute; 
}

/*Curso 3*/ 

.logoe3{
    margin: 125% 0% 0% 0%; 
    position:absolute;  
}

.p6{
    margin: 126.8% 0% 0% 10%; 
    position:absolute; 
}

.localização3{
    margin: 154% 0% 0% 9%; 
    position:absolute; 
}

.p7{
    margin: 155% 0% 0% 12%; 
    position:absolute; 
}

/*Curso 4*/ 

.logoe4{
    margin: 160% 0% 0% 0%; 
    position:absolute;  
}

.p8{
    margin: 161.8% 0% 0% 10%; 
    position:absolute; 
}

.localização4{
    margin: 179% 0% 0% 9%; 
    position:absolute; 
}

.p9{
    margin: 180% 0% 0% 13%; 
    position:absolute; 
}

/*Curso 5*/ 

.logoe5{
    margin: 185% 0% 0% 0%; 
    position:absolute;  
}

.p10{
    margin: 186.8% 0% 0% 10%; 
    position:absolute; 
}

.localização5{
    margin: 202.5% 0% 0% 9%; 
    position:absolute; 
}

.p11{
    margin: 203.5% 0% 0% 13%; 
    position:absolute; 
}

/*Curso 6*/ 

.logoe6{
    margin: 209.5% 0% 0% 0%; 
    position:absolute;  
}

.p12{
    margin: 211.3% 0% 0% 10%; 
    position:absolute; 
}

.localização6{
    margin: 230.6% 0% 0% 9%; 
    position:absolute; 
}

.p13{
    margin: 231.6% 0% 0% 13%; 
    position:absolute; 
}