@font-face{
    font-family: love;
    src: url('Fontes/LilitaOne-Regular.ttf') format('truetype');
}

@font-face{
    font-family: ArialBold;
    src: url('Fontes/ARLRDBD.TTF') format('truetype');
}


img{
    margin-left: 8%;
}


#nav{
    font-family: Helvetica;
    font-weight: bold;
    background-color: #2F2BD4;
    height: 70px;
}

ul li{
    display:inline;
}

#a1{
    color: white;
    text-decoration: none;
    padding: 1.8%;
    position:absolute;
    margin-left: -1%;
    font-size: 164%;
}

#a2{
    color: white;
    text-decoration: none;
    padding: 1.8%;
    position:absolute;
    margin-left: 8%;
    font-size: 164%;
}

#a3{
    color: white;
    text-decoration: none;
    padding: 1.8%;
    position:absolute;
    margin-left: 31%;
    font-size: 164%;
}

#a4{
    color: white;
    text-decoration: none;
    padding: 1.8%;
    position:absolute;
    margin-left: 61%;
    font-size: 164%;
}

#a5{
    color: white;
    text-decoration: none;
    padding: 1.8%;
    position:absolute;
    margin-left: 76%;
    font-size: 164%;
}

#a1:hover{font-size: 180%}
#a2:hover{font-size: 170%}
#a3:hover{font-size: 170%}
#a4:hover{font-size: 180%}
#a5:hover{font-size: 180%}

#txt{
    color:white;
    background-image: linear-gradient( to top, #3B91F6, #61D9F3, #3D63EC, #2438E9);
    height: 800px;
}

h2{
    position:absolute;
    font-family: Love;
    font-weight: normal;
    margin-left: 5%;
    margin-top: 6%;
    font-size: 280%;
}

#p1{
    position:absolute;
    font-family: ArialBold;
    text-align: justify;
    margin-top: 20%;
    margin-left: 6%;
    margin-right: 48%;
    font-size: 135%;
}

#p2{
    position:absolute;
    font-family: ArialBold;
    text-align: justify;
    margin-top: 32%;
    margin-left: 6%;
    margin-right: 48%;
    font-size: 135%;
}

#p3{
    position:absolute;
    font-family: ArialBold;
    text-align: justify;
    margin-top: 41%;
    margin-left: 6%;
    margin-right: 48%;
    font-size: 135%;
}

#p4{
    position:absolute;
    font-family: ArialBold;
    text-align: justify;
    margin-top: 49%;
    margin-left: 6%;
    margin-right: 48%;
    font-size: 135%;
}

#s1{
    position:absolute;
    margin-left: 67%;
    margin-top: 12%;
    background-color: #B5E9FA;
    width: 28%;
    height:550px;
    border-radius: 12%;
}

#s2{
    position: absolute;
    background-color: #34BBD9;
    margin-left: 10%;
    margin-top: 18%;
    width: 80%;
    height:80px;
    border-radius: 12%;
}

#s3{
    position: absolute;
    background-color: #34BBD9;
    margin-left: 10%;
    margin-top: 52%;
    width: 80%;
    height:80px;
    border-radius: 12%;
}

#s4{
    position: absolute;
    background-color: #34BBD9;
    margin-left: 10%;
    margin-top: 88%;
    width: 80%;
    height:80px;
    border-radius: 12%;
}

#s5{
    position: absolute;
    background-color: #34BBD9;
    margin-left: 22%;
    margin-top: 120%;
    width: 63%;
    height:50px;
    border-radius: 12%;
}

.h01{
    font-family: love;
    position:absolute;
    font-size: 160%;
    margin-left: 18%;
    margin-top: 10%;
    color: white;
    font-weight: normal;
}

#h05{
    font-family: love;
    position:absolute;
    font-size: 162%;
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    font-weight: normal;
}

#h07{
    font-family: love;
    position:absolute;
    font-size: 160%;
    margin-left: 8%;
    margin-top: 10%;
    color: white;
    font-weight: normal;
}

#h08{
    font-family: love;
    position:absolute;
    font-size: 160%;
    margin-left:24%;
    margin-top: 10%;
    color: white;
    font-weight: normal;
}

.h01:hover{
    font-size: 182%;
}

#h08:hover{
    font-size: 182%;
}
#h07:hover{
    font-size: 174%;
}

#h05:hover{
    font-size: 170%;
}

#h02:hover{
    font-size: 300%;
}